* {
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --primaryblue: #47a0ce;
    --green: #47ce86;
    --secondarygreen: #32b46f;
    --transition: all 260ms ease-in-out;
    --primaryBorder: 6px solid var(--primaryblue);
    --secondaryBorder: 6px solid var(--green);
    --borderRadius: 15px;
    --awesomeRadius: 0px var(--borderRadius) 0px var(--borderRadius);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


header {
    background-color: var(--primaryblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: var(--secondaryBorder)
}

nav {
    padding: 30px 15px 15px 15px;
}

nav a {
    font-size: 22px;
    font-style: none;
    margin: 0 20px;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px 15px;
}



#logo-container {
    display:inline-block;
    padding-top: 10px;
    position:relative;
    top: 20px;
    background:var(--primaryblue);
    padding: 10px;

}

#logo-container h2 {
    margin-bottom: 0;
}

#logo-container i {
    display: flex;
    justify-content: center;
}

.dark-bg {
    background-color:black;
    color:var(--primaryblue);
}

.dark-bg a {
    color: var(--primaryblue);
}


#hero {
    background:black;
    background-image: url("../images/background.png");
    color: white;
    text-align: center;
    padding: 60px 15px;
    font-size: 42px;
    
}

.btn {
    cursor:pointer;
    color: black;
    background: var(--green);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    transition: var(--transition)

}

.btn:hover {
    background: var(--secondarygreen)
}

.callout {
    border: 6px dotted var(--primaryblue);
    text-align: center;
    margin: 0 30px;
    padding: 30px 15px;
    flex: 1 0 400px;
    margin-bottom: 25px;
  }


#gallery {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  
}

.gallery-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background: black;
    color: white;
    margin: 5px;
    width: 240px;
    height: 240px;
    font-weight: bold;
    position: relative;
    transition: var(--transition);
    border-radius: var(--awesomeRadius);
    border: var(--primaryBorder);

}

.gallery-item:hover {
    background-color: var(--green);
    border-color: white;
    color: black;
}

.gallery-item i {
    transition: var(--transition);
}

.gallery-item:hover i {
    transform: scale(1.25);
}

.on-sale {
    color: black;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 5px;
    background-color: var(--green);
}

.gallery-item:hover .on-sale {
    background: white;
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-top: var(--primaryBorder)
}

/* media queries */

@media (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: stretch;
    }

    nav {
        background: black;
    }

    nav a {
        color: var(--primaryblue);
        margin: 0 10x;
    }

    footer {
        flex-direction: column;
        padding-bottom: 25px;
    }
}

